.background{
	background:url(image/PicsArt_08-27-05.46.47.jpg) no-repeat;
	height: 60vh;
	background-size: cover;
	/*margin: -50px; */
	position: relative;

}
.bulb{
	padding-left: 1000px;
	padding-top: -60px;
	height: 30vh;
}
.search{
	text-align: center;

}
.search .go{
	display: inline;
	width: 80%;
	
	border: none;
	border-radius: 2rem;
	padding: .6rem;
	text-align: initial;
	outline: none;
}
.search button{
	font-weight: bold;
	display: initial;
	text-align: center;
	background-color: orange;
	width: 10%;
	border-radius: .3rem;
	padding: .3rem;
}
.nav{
	padding-top: 1.5%;
	background-size: cover;
	width: 100%;
	height: 90px;
	background: url(image/old-2228749_960_720.jpg);
}
ul{
	list-style: none;
	position: absolute;
	margin: 0;
	padding: 0;
}
ul li{
	float: left;
	margin-top: 20px;
}
ul li a{
	width: 150px;
	color: black;
	display: block;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	font-family: cursive;
	font-weight: bold; 
}
a:hover{
	background: #669900;

}
ul li ul{
	background: brown;
}
ul li ul li{
	float: none;
}
ul li ul{
	display: none;
}
ul li:hover ul{
	display: block;
}
#images{
	width: 72%;
	height: 110vh;
	border:1px solid ;
	margin: 0 auto;
	background-size: 600px;
	position: relative; 
}
.last{
	margin-top: 60px;
	background: url(image/nature-2487844_960_720.jpg)no-repeat;
	height: 30vh;
	background-size: cover;
	font-weight: bold;
	position: relative;
	text-align: center;
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
body{
	background: url(image/26102.jpg) ;
}